<footer class="bg-dark text-light text-center py-3 mt-auto">
    <div>
        <p class="mb-1">
            &copy; 2026 Product / Inventory Management System
        </p>
        <small>
            Developer :
            <a href="https://www.linkedin.com/in/mithil-dhure/" class="text-primary text-decoration-none">
                Mithil Dhure
            </a>
        </small>
    </div>
</footer>
